

*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}

p{
	color: #6c757d;
}
a{
	text-decoration: none;
     color: #4f4f4f;
 }
 .card{
 	border: none;
 }

 .product_img{
 	min-width: 200px;
 	min-height: 200px;
 }
 .remove_wish{
 	font-size: 0.8rem;
 	margin-bottom: 0;
 }

 .set_quantity{
 	position: relative;
 }
 .set_quantity::after {
 	content: "";
 	width: auto;
 	height: auto;
 	text-align: center;
 	position: absolute;
	bottom: -20px; 	
    right: 1.5rem;
    font-size: 0.8rem;
}
.page-link{
	line-height: 22px;
	 width: 45px;
    text-align: center;
    color: #495057;
}

.fa-heart:hover {
	color: red;
}
